.wbdv-course-lessons .nav-link {
    background-color: #8f8c8c  !important;
    /* border: 1px solid gainsboro; */
    /* margin-left: 3%;
    margin-right: 3%; */
    color: whitesmoke;
    display: block;
}

.wbdv-course-lessons .nav-link.active {
    background-color: cornflowerblue !important;
}

.wbdv-course-topics .nav-link {
    background-color: #8f8c8c  !important;
    border: 1px solid gainsboro;
    /* margin-left: 3%;
    margin-right: 3%; */
    color: whitesmoke;
}

.wbdv-course-topics .nav-link.active {
    background-color: cornflowerblue !important;
}

.wbdv-course-dashboard {
    height: 100%;
}

.wbdv-course-module {
    background: #403e3e;
    position: sticky;
    height: 100%;
}

.wbdv-course-module a {
    background-color: lightgrey;
    /* margin-top: 2%;
    margin-bottom: 2%; */
    border: 1px solid gainsboro;
    background-color: #8f8c8c;
}

.list-group-item.active {
    background-color: cornflowerblue !important;
    border: 1px solid gainsboro !important;
}
